@font-face{
    font-family: "Panthera";
    src: url(../font/PantheraRegular-MVZ9J.ttf);
}
@font-face{
    font-family: 'Byeno';
    src: url(../font/BEYNO.otf);
}
@font-face {
    font-family: 'Cantarell bold';
    src: url(../font/Cantarell-Bold.ttf);
}
@font-face {
    font-family: 'Cantarell boldItalic';
    src: url(../font/Cantarell-BoldItalic.ttf);
}
@font-face {
    font-family: 'Cantarell regular';
    src: url(../font/Cantarell-Regular.ttf);
}
@font-face {
    font-family: 'Cantarell italic';
    src: url(../font/Cantarell-Italic.ttf);
}

body{
    margin: 0%;
    background: linear-gradient(to right, black, #3D2DA6);
    background-repeat: repeat-y;
    background-size: cover;
    color: white;
}

h1{
    font-family: 'Panthera';
    font-size: 55px;
}
h2{
    font-family: 'Byeno';
    color: #9E91B7;
}


a{
    text-decoration: none;
}

header{
    width: 100%;
}

.element-haut{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-left: 7vw;
    padding-right: 7vw;
}


.traits{
    position: fixed;
    display: flex;
    margin-left: 2.5vw;
}

.traits div{
    margin-right: 20px;
}
.trait-1{
    border-left: 3px solid #9E91B7;
    height: 58vh;
}

.social-media{
    align-content: center;
}

.trait-2{
    border-left: 3px solid #9E91B7;
    height: 40vh;
}

.list-trait ul{
    list-style-type: none;
    padding-left: 0;
    margin-left: -10px;
}

.list-trait ul li{
    margin-bottom: 10px;
}

.ul-haut{
    font-family: 'Byeno';
    font-size: 18px;
    display: flex;
    list-style-type: none;
}

.ul-haut li a{
    color: white;
}

.ul-haut li{
    margin-right: 50px;
}

.header-corps{
    margin: 0;
    display: flex;
    width: 100%;
}

.img-cover{
    flex-shrink: 1;}

.text-header{
   flex-grow: 1;
   flex-shrink: 1;
    width: 50vw;
    margin-top: 15vh;
    margin-left: 130px;
    text-align: justify;
    color: #9E91B7 ;
}


.text-header p, 
#voir-plus, 
.text div p,
.personnages{
    color: white;
    font-family: 'Cantarell regular';
}
#voir-plus{
    text-decoration: underline;
}


.img-cover img{
    margin:0;
    width: 65vw;
}


.personnages{
    display: flex;
    width: 80vw;
    margin-left: 9vw;
    padding-left: 20px;
    background-color: #021740;

}
.personnages span{
    display: flex;
}
.personnages span div{
    width: 17vw;
    text-align: justify;
    padding-left: 20px;
    padding-right: 20px;
}
.personnages span img{
    width: 16vw;
    height: 40vh;
}


.section-1{
    display: flex;
    margin-top: 15vh;
    margin-left: 10vw;
    margin-right: 10vw;
}



.text div{
    text-align: justify;
}

.img-profile{
    color: black;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    margin-bottom: -42vh;
}

.img-profile img{
    width: 250px;
}
aside{
    margin-left: 50px;
}
.description{
    color: black;
    width: 20vw;
    background-color: white;
    border-radius: 15px;
    margin-left: 50px;
    margin-right: 50px;
    padding-top: 40vh;
    padding-bottom: 50px;
    padding-left: 25px;
    padding-right: 25px;
    text-align: left;
}
aside div{
    font-family: 'Cantarell regular';
}
.btn-aside{
    display: flex;
    justify-content: center;
}

.btn-aside p{
    background-color:#3D2DA6 ;
    margin-right: 20px;
    padding: 10px 5px;
    border-radius: 8px;
}

.btn-aside p a{
    color: white;
}

.text-description{
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: left;
    
}
